<!doctype html>
<html>

<head>
    <title>
        <%=appName%>
    </title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
    <h1><%=appName%></h1>
    <h3>About Our Real Estate Marketplace:</h3>
    <div class="content-container">
        <p>Welcome to <%=appName%>, the comprehensive online destination for all your real estate needs.
                Our platform is designed to bridge the gap between property seekers and the vast real estate market,
                offering an extensive selection of properties that cater to diverse preferences and budgets.</p>

        <p>At <%=appName%>, we understand that finding the perfect home or investment opportunity is more than just a
                transaction—it's a key step in building your future. That's why we've created a user-friendly space
                where you can explore, inquire, and engage with a wide array of real estate properties currently
                available in the market.</p>

        <p>Our innovative platform features detailed property listings with essential information such as property
            type, price and specifications ensuring you have all the details at your fingertips.
            Whether you're a first-time homebuyer, a seasoned investor, or looking for your next rental, our portal
            is designed to provide you with a seamless and efficient property searching experience.</p>

        <p>In addition to our diverse listings, we offer personalized services for our registered users. By
            creating an account, you can set your preferences, save your favorite properties, and use our built-in
            messaging system to communicate directly with property owners or our dedicated support team.</p>

        <p>For real estate professionals and property owners, <%=appName%> offers a robust platform to
                list and manage your properties, reach a wider audience, and connect with potential buyers or tenants
                effectively.</p>

        <p>Our commitment to transparency, user-centric design, and innovative technology makes
            the ideal choice for all your real estate endeavors. Join us in redefining the real estate
            experience, where your property journey is just a click away.</p>
    </div>

    <div class="link-container">
        <a href="/">Back to Homepage</a>
    </div>
</body>

</html>