<!doctype html>
<html>

<head>
    <title>
        <%=appName%>
    </title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
    <h1>
        <%=appName%>
    </h1>
    <h3>A list of properties:</h3>

    <div class="properties-container">
        <% properties.forEach(function(property) { %>
            <div class="property-container">
                <div class="property">
                    <p><strong>Price:</strong> £<%= property.price %></p>
                    <p><strong>Location:</strong> <%= property.street %>, <%= property.city %> <%= property.postcode %></p>
                    <p><strong>Type:</strong> <%= property.type %></p>
                    <p><strong>Bedrooms:</strong> <%= property.bedrooms %></p>
                    <p><strong>Bathrooms:</strong> <%= property.bathrooms %></p>
                    <p><%= property.description %></p>
                </div>
                <div class="user-details">
                  <p><strong>Name:</strong> <%= property.first_name %>, <%= property.first_name %></p>
                  <p><strong>Email:</strong> <%= property.email %></p>
                </div>
            </div>
        <% }); %>
    </div>

    <div class="link-container">
        <a href="/">Back to Homepage</a>
    </div>

</body>

</html>